# 指定忽略的文件
node_modules

# 指定忽略的文件夹
# 仅在当下文件夹下忽略ignore文件，但不包括子目录下的subdir/ignore
/ignore
# 忽略ignore文件夹下的所有文件
ignore/
# 忽略ignore/ignore.ignore，不包括ignore/ignore/ignore.ignore
ignore/*.ignore
# 忽略ignore/下的所有.ignore文件
ignore/**/*.ignore
# 忽略文件名结尾为ignore的文件
*ignore/
# 忽略文件名中含有ignore的文件
*ignore*/

# 指定忽略的后缀
*.ignore
# 不忽略以下文件
!do_not.ignore

# sass忽略文件
.sass-cache/
*.css.map
*.sass.map
*.scss.map