// @import './base/_base';
// @import './components/_';
// @import './helpers/_helpers';

body {
  color: aquamarine;
  font-size: 70px;
  // visibility: hidden;
}

.index {
  position: relative;
  color: #fff;
}
